html{

}

body, .reveal{
  /*background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #72a4df 100%);*/
  background:white;
  color:#0d4664;
}

html.intro{
  
}

html.intro h1, html.title-slide h1{
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  border-bottom:0;
  background-color:rgba(255,255,255,0.75);
  display:inline-block;
  padding-left:0.1em;
  padding-right:0.1em;
}

html.intro .subtitle{
  margin-top:55%;
}


html.intro .subtitle h3{
  color:white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

html.intro .reveal .slides{
  text-align:center;
}


html.code.client body .reveal{
  background:#fee;
}

.reveal .slides>section{
  top:-60%;
  border:1px solid red;
}


.reveal .slides{
  /*text-align:left;*/
}


.reveal section img.no-border{
  border:0px;
  box-shadow:none;
}



.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
  text-transform:none;
  color:#0d4664;
}

.reveal h1{
  border-bottom:1px solid black;
}

.reveal h1.smaller{
  font-size:3.1em;
}

.reveal h1.smaller-yet{
  font-size:2.7em;
}

.reveal h1.smallest{
  font-size:1.9em;
}

.reveal h1.no-line{
  border-bottom:0px;
}


table.vert-middle td{
  vertical-align:middle;
}


html.last-slide table{
  float:right;
}
html.last-slide table p{
  background: rgba(255,255,255,0.75);
  padding: 0.1em 0.2em;
}

html.last-slide table img{
  background: rgba(255,255,255,0.75);
}

.reveal pre code{
  font-size:1.6em;
  line-height:1.1em;
  width:110%;
  margin:0;
  margin-left:-5%;
  padding:5px;
  max-height:800px;
}

pre .comment{
  color:#ccc;
}
